<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Using Machine Learning to Measure Conservatism</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://gmousse.github.io/dataframe-js/dist/dataframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/danfojs@0.2.7/lib/bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.7.0/dist/tf.min.js"></script>

  </head>
  <body>
    <div id="app">
      <h1>Using Machine Leaning to Measure Conservatism</h1>

      <h2>Download Conservatism Score</h2>

      <a href="data/cscores_07-06-2021.csv"><button>Download CSV</button></a>
      <a href="data/cscores_07-06-2021.parquet"><button>Download Parquet</button></a>

      <h2>Compute the C score</h2>
      We propose several ways to compute the C score for your research projects.

      <h3>Packages</h3>
      <p>Python ad R packages coming soon.</p>

      <!--
      <h3>Python</h3>
      <h4>Installation</h4>
      <h4>Usage</h4>

      <h3>R</h3>
      <h4>Installation</h4>
      <h4>Usage</h4>
      -->

      <h3>Online</h3>
      <p>You can also use the following utility to quickly compute the C score.</p>

      <p>Note: This utility uses your browser to compute the C score and is limited
      in the size of the file that it accepts. We suggest that you only provide
      a file with the columns necessary to compute the C score.</p>

      <p>Select a CSV file containing the following variables:<p>
        <ul>
          <li>Identifiers: Typically gvkey/permno and fiscal year.</li>
          <li>Size: Natural logarithm of the market value of equity corrected for inflation. <li>
          <li>Market to book ratio: Ratio of market value of equity to book value of equity.</li>
          <li>Financial leverage: Long-term debt plus short term debt deflated by market value of equity.</li>
          <li>Non-Operating Accruals scaled by lagged assets.</li>
          <li>Cash Flow from operating activities scaled by lagged assets.</li>
          <li>Investment Cycle: Depreciation expenses deflated by lagged assets.</li>
          <li>Age of the firm in years: Number of years with return history on CRSP or number of years in Compustat if not available.</li>
          <li>Volatility: Standard deviation of daily returns over the past year.</li>
        </ul>

      <input type="file" id="file-input" />
      <button v-on:click="openData">Open Data</button> {{message_data}}

      <br>
      Select column for:
      <br>
      Size:
      <select v-model="selected_size">
        <option v-for="col in columns" v-bind:value="col">
          {{ col }}
        </option>
      </select>
      <br>
      M/B ratio:
      <select v-model="selected_mb">
        <option v-for="col in columns" v-bind:value="col">
          {{ col }}
        </option>
      </select>
      <br>
      Leverage:
      <select v-model="selected_lev">
        <option v-for="col in columns" v-bind:value="col">
          {{ col }}
        </option>
      </select>
      <br>
      Non-Operating Accruals:
      <select v-model="selected_noacc">
        <option v-for="col in columns" v-bind:value="col">
          {{ col }}
        </option>
      </select>
      <br>
      CF from Operating Activities:
      <select v-model="selected_cfoa">
        <option v-for="col in columns" v-bind:value="col">
          {{ col }}
        </option>
      </select>
      <br>
      Investment Cycle:
      <select v-model="selected_invcycle">
        <option v-for="col in columns" v-bind:value="col">
          {{ col }}
        </option>
      </select>
      <br>
      Age:
      <select v-model="selected_age">
        <option v-for="col in columns" v-bind:value="col">
          {{ col }}
        </option>
      </select>
      <br>
      Volatility:
      <select v-model="selected_volat">
        <option v-for="col in columns" v-bind:value="col">
          {{ col }}
        </option>
      </select>
      <br>
      Select the columns used as identifiers:
      <br>
      <select v-model="selected_id" multiple>
        <option v-for="col in columns" v-bind:value="col">
          {{ col }}
        </option>
      </select>



      <br>
      <!--
      <p>For debug purposes: select the model (json) and weights.</p>
      <p>[Note: In the final version, these will be loaded automatically]</p>
      <p>Model [file 'model.json']: <input type="file" id="file-json" /></p>
      <p>Weights [file 'group1-shared1of1.bin']: <input type="file" id="file-weights" /></p>
      <br>
      -->

      <button v-on:click="computeScore">Compute C Score</button>

      <br>
      <p>{{ message_cscore }}</p
      <p>{{ message_download}}</p

      <br>
      <button v-on:click="downloadScore">Download C Score</button>

      <h2>Neural Network model (TensorFlow)</h2>
      You are welcome to download the tensor flow model used to compute the C score and use it at will.




    </div>

    <script>

      var DataFrame = dfjs.DataFrame;
      var reader = new FileReader();

      function download(filename, text) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
      }

      var app = new Vue({
        el: "#app",
        data: {
          message_data: "",
          message_cscore: "",
          message_download: "",
          selected_size: '',
          selected_mb: '',
          selected_lev: '',
          selected_noacc: '',
          selected_cfoa: '',
          selected_invcycle: '',
          selected_age: '',
          selected_volat: '',
          selected_id: [],
          columns: []
        },
        methods: {

          openData: async function() {
            // Open file
            file = document.getElementById('file-input').files.item(0);
            // Create DataFrame
            this.message_data = 'Opening file ...'
            var df_tmp = await dfjs.DataFrame.fromCSV(file);
            df = new dfd.DataFrame(df_tmp.toCollection());
            df_tmp = null;
            this.message_data = 'File opened.'
            // Make user choose the columns to use
            this.columns = df.columns
          },

          computeScore: async function() {

            // Get the features
            this.message_cscore = 'Extract Features ...';
            features = [this.selected_size,
                        this.selected_mb,
                        this.selected_lev,
                        this.selected_volat,
                        this.selected_noacc,
                        this.selected_cfoa,
                        this.selected_invcycle,
                        this.selected_age]
            cols = this.selected_id.concat(features)
            // Select the needed columns
            df = df.loc({columns: cols})

            //features = df.iloc({columns: ["2:"]}).columns;
            // Make sure all is in float32
            features.forEach((col, i) => {
              df = df.astype({column: col, dtype: "float32"})
            });
            X = df.loc({columns: features});

            // Open the model
            this.message = 'Open Model ...';
            //json = document.getElementById('file-json').files[0];
            //weights = document.getElementById('file-weights').files[0];
            //model = await tf.loadLayersModel(tf.io.browserFiles([json, weights]));
            model = await tf.loadLayersModel('https://www.mariomilone.org/mlcscore/webapp/nn_kw_js/model.json')

            this.message_cscore = 'Compute C score ...';
            y = model.predict(X.tensor);

            // Add values to the data
            this.message = 'Add C score to the data ...';
            df.addColumn({column: 'Cscore', value: new dfd.Series(y.squeeze())});

            // Tell user that it is done
            this.message_cscore = 'Score succcesfully computed.';

            // Prepare the data to download
            this.message_download = 'Prepare data ...'
            // Create CSV file
            dfn = new dfjs.DataFrame(df.values, df.columns)
            file_out = dfn.toCSV()
            this.message_download = 'Data ready to download.'

          },

          downloadScore: function() {

            // Ask user to download
            var name = file.name.split('.')[0] + '_cscore.csv'
            download(name, file_out)

          }

        }
      });


    </script>
  </body>
</html>
